@model HW8.Controllers.Classification

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Classification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArtWork.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtWork.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>

    </dl>
</div>
