@model IEnumerable<HW8.Controllers.Classification>

@{
    ViewBag.Title = "Classifications";
}

<h2>Classifications</h2>

<table class="table table-responsive table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtWork.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtWork.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
    </tr>
}

</table>
