
@{
    ViewBag.Title = "Visitors";
}

<h2>Visitors</h2>

<form>
    <label for="FirstName">First Name</label><br />
    <input type="text" name="FirstName" value="" /><br />
    <label for="LastName">Last Name</label><br />
    <input type="text" name="LastName" value="" /><br />
    <input type="submit" />
</form>

<table>

</table>