body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav .navbar .navbar-inverse {
    border-radius:0px;
}

ul .navbar {
    border-radius:0px;
}


/* Code for the Ratings taken from https://codepen.io/Bluetidepro/pen/GkpEa */
.reviews {
    width: 90%;
    padding:20px;
    margin-top:-20px;
}

.reviews review {
    width:70%;
    height:auto;
}

.row {
    overflow:hidden;
}

.row .match-col {
    overflow: hidden;
}

.row.match-col [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

/* STAR CODE SOURCED FROM https://codepen.io/mcallaro88/pen/EWQdRX */
.rating {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 64px;
    position: relative;
    margin: 0;
    padding: 0;
}

 .rating .rating-full {
    color: #ffd800;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating span {
        display: inline-block;
}

.rating-empty {
    padding: 0;
    display: block;
    z-index: 0;
}

