@{ 
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Assignment 4</h1>
    <p>The landing page for my Homework 4 assignment for CS460 at Western Oregon University</p>
</div>

<div class="row">

    <div class="col-md-1"></div>
    
    <div class="col-md-5"">
        <dl>
            <dt>Mad Libs</dt>
            <dd>For Page 1, I decided to make a small Mad Libs game. It is a very simple game, it just takes input from the user and makes a story with it.
            This isn't really a calculation unfortunately, but we will definitely get to that.</dd>
            <dt>Guest Book</dt>
            <dd>For Page 2 I created a guestbook application, that accepts input from the user and inserts that input directly into a table.
            Since I am not using a database, it doesn't save this info, but the idea is there.</dd>
            <dt>Loan Calculator</dt>
            <dd>Description here</dd>
        </dl>
    </div>

    <div class="col-md-5">
        <h3>What is this?</h3>
        <p>For this assignment I made three small web applications using ASP.NET MVC in Visual Studio. You can read
        about the applications I made to the left. On the top right of the screen is where you can navigate between the assignments with ease.</p>
        <p>Right now this text is all about filling up space. I hope these applications seem interesting and fun. Or at least one of the two. I'd take either.</p>
    </div>

    <div class="col-md-1"></div>
</div>