@{ 
    ViewBag.Title = "Home";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 style="margin-top:50px;">Welcome</h2>
            <hr />
            <p>
                Welcome to this page. It holds some interesting information about artists and their artworks. Only the artists can be edited. There is not currently a way to add any artworks that aren't already there. Sorry!
            </p>
            <p>
                To navigate this page, simply choose how you'd like to view this information. At the top of the page, you may select 'Artists' if you wish to see personal details about a few interesting artists. Or you can choose 'Art Works' if you are more interested in the paintings and who painted them. You can also choose 'Classifications' if you want to see how certain art works are classified (i.e., what genre they are classified as).
            </p>
            <p>
                Thank you for visiting!
            </p>
        </div>
        <div class="col-md-6" id="imgcol">
            <img src="~/Images/mona-lisa.jpg" id="homeImg"/>
        </div>
    </div>
</div>
