@model IEnumerable<HW6.Product>

@{
    ViewBag.Title = "Home Page";
}

<h2>Home Page</h2>

<hr />

<table class="table table-responsive">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.ProductNumber)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductNumber)</td>
        </tr>
    }
    
</table>