@{
    ViewBag.Title = "Adventure Works | Home";
}
<div class="container">
    <h1 style="margin-top:-5px;">Welcome</h1>
    <div class="row">
        <div class="col-md-6">
            <p style="text-align:justify;">Quisque quis volutpat lorem, sed consequat diam. Etiam fringilla consequat eros, sit amet malesuada felis. Duis vel justo ut nibh tincidunt aliquet. Suspendisse tempor, ligula ac pellentesque sagittis, augue diam blandit est, id malesuada metus quam in leo. Fusce interdum tincidunt lectus, eu pulvinar erat volutpat sit amet. Aenean sit amet imperdiet tortor. Nulla facilisi. Mauris non nibh in orci tempus posuere eget vel ex. Duis a tellus varius, interdum mauris vel, scelerisque nunc. Integer venenatis, nunc quis efficitur pretium, sem enim sollicitudin nunc, sed pulvinar nibh mauris nec felis. Donec cursus nisi sapien, in egestas magna vehicula vel. Donec ut purus sit amet nunc facilisis gravida. Etiam est nunc, accumsan a lectus eu, tristique vestibulum est. Nam et ultricies eros. Vivamus gravida facilisis aliquam.</p>
        </div>
        <div class="col-md-6">
            <p style="text-align:justify;">Aliquam sed tortor vehicula, vestibulum augue id, mollis lectus. Donec tincidunt arcu nec rhoncus condimentum. Nullam lacinia dui non nibh pharetra, vitae interdum quam sodales. In quam velit, malesuada sit amet accumsan in, suscipit in quam. In consequat magna lacus. Pellentesque elementum at mauris a blandit. Nunc ac mollis elit. Mauris dui lorem, sodales nec orci a, semper lacinia enim. Duis feugiat, sapien a rutrum finibus, dolor elit tempor magna, et tincidunt dui risus ut lorem. Suspendisse non mauris iaculis, malesuada sem id, fringilla ipsum. Phasellus felis nisl, bibendum at magna eget, imperdiet feugiat justo.</p>
        </div>
    </div>
</div>
